/*2372034 Exalt winata Gunawan*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-color{
 background-color: lightblue;
 
}
.navbar-bg-salmon{
    background-color: salmon;
}
.logo-size{
    width: 120px;
}